@import '../../styles/mixins';

.chat-chat-widget {
  position: relative;
  height: 100%;
  background-color: #EDEFF4;
  margin: 2px 5px;
  border-radius: 15px;
  font-family: googleSans-regular;

  &-title {
    padding: 0 32px;
    min-height: 68px;
    line-height: 68px;
    // display: flex;
    // position: relative;
    // align-items: center;
    // transition: all .3s;
    // justify-content: space-between;
  border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #dadada;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #071232;
    background: #EDEFF4;
  }

  &-user {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1c1c1c;
  }

  &-box {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
  }

  .message-list{

    .rce-mbox {
      height: 44px;
      line-height: 35px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    .rce-mbox-right{
      background: #D0D3E3;
    }
    .rce-mbox-right-notch{
      fill: #D0D3E3;
    }
  }

  &-sendbox {
    padding: 2px 5px;
    width: 100%;
    height: 60px;
    line-height: 60px;

    &-body {
      display: inline-block;
      width: 85%;

      .ant-input {
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        // border-radius: 15px 0 0 15px;
      }
    }

    &-btn {
      display: inline-block;
      width: 15%;

      button {
        border-radius:  12px;
        height: 55px;
        line-height: 55px;
        width: 55px;
        background: #00A389;

        svg{
          font-size: 22px;
        }
        &:hover{
          background-color: #E0F4F1;
          color: #00A389;
        }
      }

    }
  }
}
