@import '../../styles/mixins';

.home-login {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  img {
    width: 400px;
    transform: translate(-15px,55px);
  }

  &-btn {
    background: @blue;
    border-radius: 30px;
    border-width: 2px;
    border-color: @blue;
    font-weight: 500;
    width: 120px;
  }

  &-btn:hover {
    background: white;
    color: @lightorange;
    border-color: @lightorange;
  }

  &-inscrire {
    color: @darkblue;
    float: right;
    // transform: translateY(-50px);
  }

  &-inscrire:hover {
    text-decoration: underline;
    cursor: pointer;
    color: @darkblue;
  }

  .ant-checkbox-checked {
    background: @blue;
  }
}
