@import '../../styles/mixins';

.post-create-post {
  width: 1100px;
  margin: 80px auto 20px;
  height: auto;

  .ant-card-head-title{
    font-weight: 600;
    color: @darkblue;
  }

  &-content {
    margin-bottom: 24px;
  }

  &-submit {
    text-align: right;
    
    button{
      width: 101px;
      height: 40px;
      border-radius: 40px;
    }
  }

  .dynamic-delete-button {
    margin-left: 4px;
    color: @gray;
  }

  .option-normal-text {
    font-size: 12px;
    color: @gray;
  }

  .layout-left {
    float: left;
    width: 850px;
    margin-bottom: 120px;
  }

  .layout-right {
    padding-left: 860px;
    max-height: 300px;
  } 
}

