@import '../../styles/mixins';

.post-create-post {
  width: 1000px;
  margin: 0 auto;

  &-content {
    margin-bottom: 24px;
  }

  &-submit {
    text-align: right;
  }

  .dynamic-delete-button {
    margin-left: 4px;
    color: @gray;
  }

  .option-normal-text{
    font-size: 12px;
    color: @gray;
  }
}

.ant-btn-primary {
  background: @blue;
  border-color: @blue;
  font-weight: 500;

  &:hover {
    background: #60c7eb;
    border-color: #60c7eb;
  }
}

