@import '../../styles/mixins';

.post-post-view {
  width: 860px;
  margin: 80px auto;

  &-tag {
    margin-left: 6px;
    vertical-align: middle;
  }

  &-contents{
    &-aucune{
      margin: 8px 0;
    }
  }

  &-content {
    display: block;
    margin: 12px 0 12px 80px;
  }

  &-submit {
    display: block;
    // margin-left: 260px;
    margin: 0 auto;
  }

  &-auther {
    display: block;
    text-align: right;
    font-size: 12px;
  }

  &-results {
    margin: 4px 0;

    &-aucune{
      display: block;
      margin: 10px 0;
      transform: translateX(30%);
    }
  }

  .antd-pro-charts-pie-pie .antd-pro-charts-pie {
    &-legend {
      width: 240px;

      li {
        margin-bottom: 12px;
      }
    }

    &-legendTitle {
      display: inline-block;
      vertical-align: bottom;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-percent {
      font-size: 13px;
    }
    &-value {
      font-size: 13px;
      position: absolute;
      right: -16px;
    }
  }
}

  .endtime-tag-popover-text{
    font-size: 12px;

    p{
      margin-bottom: 4px;
    }
  }
